@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To MinIT!</h1>
    <p>The best management meetings and minutes tracking system out there.</p>
    <p>Lets create a <a asp-area="" asp-controller="Meeting" asp-action="Index">meeting</a> together.</p>
</div>
