@model MinIT.Common.ViewModels.User.UserViewModel

<div class="card">
    <div class="card-header">Users</div>
    <div class="card-body">
        <button class="btn btn-info" data-toggle="modal" data-target="#myModal">
            New User
        </button>

        <table class="table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal" id="myModal">
<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <h4 class="modal-title">Add User</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <form asp-controller="User" asp-action="RegisterUser" method="post">
            <div class="modal-body">
                <div class="form-group">
                    <label for="name">First Name:</label>
                    <input asp-for="FirstName" type="text" class="form-control" id="name">
                </div>

                <div class="form-group">
                    <label for="name">Last Name:</label>
                    <input asp-for="LastName" type="text" class="form-control" id="name">
                </div>

                <div class="form-group">
                    <label for="name">Email:</label>
                    <input asp-for="Email" type="email" class="form-control" id="name">
                </div>
            </div>


            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </form>

    </div>
</div>
</div>